/.zed/
/.vs/
/.vscode/
/.idea/
*.sln
*.vcxproj
*.vcxproj.user
/Client/build/
/Client/deps/
/Server/target/
/Client/compile_commands/
/Server/Cargo.lock
/Client/.cache/
/Client/bin-int/
/Client/compile_commands.json
/Client/bin/
/Client/config.json
/ClientRS/
/Client/.vs/
